.container {
  position: relative;
  .table {
    width: 100%;
    user-select: none;
    border-collapse: collapse;
  }

  .cart-item {
    border: 2px solid rgb(119, 119, 119);
    background-color: white;
    bottom: 0;
    right: 0;
    position: fixed;
    min-width: 400px;
    min-height: 200px;
  }
}
